@model SafeShop.Application.ViewModels.LoginFormViewModel

<h4>Zaloguj się</h4>
<hr />
<div class="row">
    <div class="col-md-3">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row m-4">
                <label asp-for="Login" class="col-md-3"></label>
                <input asp-for="Login" class="col-md-7" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="row m-4">
                <label asp-for="Password" class="col-md-3"></label>
                <input asp-for="Password" type="password" class="col-md-7" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center">
                <input type="submit" value="Zaloguj" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4 justify-content-end float-right">
        <h3>Jesteś tu nowy? Zarejestruj się!</h3>
        <div class="row justify-content-center">
            <a href='@Url.Action("Index", "Register")' class="btn btn-primary col-md-3">Rejestracja</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
