html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    font-size: 16px;
}

.form-group {
    border: 2px solid;
    border-color: #0887cc;
    border-radius: 25px;
}

.safeshop-menu {
    background-color: #8AAAE5;
}

.actionlink {
    font-size: larger;
}

.product-row {
    background-color: #8AAAE5;
    -webkit-transition: background-color 1.5s;
    -moz-transition: background-color 1.5s;
    -ms-transition: background-color 1.5s;
    -o-transition: background-color 1.5s;
    transition: background-color 1.5s;
    border: 1px solid;
    border-radius: 25px;
    border-color: #0887cc;
}

.product-image {
    height: 180px;
    width: 180px;
}

.product-row:hover {
    background-color: #a9c4f5;
}

.product-row:mouseout {
    background-color: #8AAAE5;
}