@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Strona główna SafeShop</h1>
    <p>Projekt bezpiecznego sklepu internetowego wykonany przez Kacpra Hołubowicza</p>
</div>
